<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uploads</title>
</head>
<body>
    <h3>Upload your file here</h3>

    <form action="/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="userimage" required multiple/>
      <!-- <input type="file" name="resume" required /> -->
      <button type="submit">upload</button>

    </form>
</body>
</html>